main {
  background-color: #fff;
  min-height: 100vh;
  padding: 1rem;
  a {
    color: inherit;
    &:hover {
      background-color: #DED0A6;
    }
  }
  blockquote {
    font-style: italic;
    margin: 0;
    em {
      display: block;
      text-align: right;
    }
  }
  figure {
    overflow: auto;
    figcaption {
      font-style: italic;
    }
  }
  hr {
    margin: 1rem 0;
  }
  h1, h2 {
    margin: 0 0 1rem 0;
    font-family: sans-serif;
  }
  table {
    margin: 1rem 0;
    td {
      padding-right: 1rem;
      vertical-align: top;
      white-space: nowrap;
      &:last-child {
        white-space: normal;
      }
    }
    th {
      text-align: left;
    }
  }
  ol, ul {
    overflow: auto;
    padding-left: 2rem;
    li {
      margin: 0.5rem 0;
    }
  }
  .articles {
    div {
      overflow: auto;
      margin: 0.2rem 0 1rem;
      hr {
        clear: right;
      }
      ol, ul {
        margin-top: 0.5rem;
        padding-left: 4rem;
        li {
          margin-bottom: 0;
        }
      }
    }
  }
  .btn {
    background-color: #E6DFCF;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0 #999;
    cursor: pointer;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    &:hover {
      background-color: #DED0A6;
      text-decoration: underline;
    }
  }
  .footnotes {
    font-size: small;
    li {
      margin: 0.5rem 0;
    }
  }
}
