---
tab_title: Eugen Rosenstock-Huessy Gesellschaft
description: Die „Eugen Rosenstock-Huessy Gesellschaft” hat sich zur Aufgabe gesetzt, die vielfachen Anregungen des Werkes von Rosenstock-Huessy in allen Lebensbereichen fruchtbar werden zu lassen.
---

<a href="{{ 'text-erh-welt-adjudicated' | relative_url }}">
  <img src="{{ 'assets/images/bipolar_world.png' | relative_url }}" class="img-right img-large" alt="Uncentered World">
</a>
{% assign articles = site.articles | where: "landingpage", "front" | sort: "order-lp" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <h2>{{ article.title }}</h2>
      {{ article.excerpt }}
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      <hr>
    </div>
  {% endfor %}
</div>

<h3>Letzte Änderungen</h3>
{% assign articles = site.articles |  sort: "published" | reverse %}
<div class="articles">
  {% for article in articles limit:10 %}
    <div>
      {{ article.published | append: ": " }}<a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
<a href="{{ '/zz-all-pages' | relative_url }}">{{ "Seitenübersicht" }}</a>
