---
title: Archiv in Marbach
column: 2
row: 6
used-categories: archiv
---
{% assign articles = site.articles | where: "category", "archiv" | sort: "created" | reverse%}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>

<br>
<br>
<div>
  <strong>Archivalien zu Eugen-Rosenstock-Huessy</strong>
</div>
<ul>
  <li>
      <a href="https://www.dla-marbach.de">Deutsches Literaturarchiv Marbach</a><br>
      Schillerhöhe 8-10<br>
      71672 Marbach am Neckar<br>
      Telefon +49 (0) 7144 / 848-0<br>
      Telefax +49 (0) 7144 / 848-299<br>
      E-Mail info@dla-marbach.de
  </li>
  <li>
    <a href="https://archives-manuscripts.dartmouth.edu/repositories/2/resources/2588">Eugen Rosenstock-Huessy papers @Dartmouth Library</a>
  </li>
  <li>
    <a href="https://www.erhfund.org">Veröffentlichungen von und zu Rosenstock-Huessy</a>
  </li>
  <li>
    <a href="https://www.erhfund.org/eugen-rosenstock-huessy-live/">Tonmitschnitte von Vorlesungen Rosenstock-Huessys</a>
  </li>
  <li>
    <a href="https://www.erhfund.org/the-eugen-rosenstock-huessy-digital-archive/">The Eugen Rosenstock-Huessy
Digital Archive</a>
  </li>
</ul>
