---
title: Jahrestagungen
column: 2
row: 1
used-categories: jahrestagung
---
{% include carousel.html
   title="Tagungstätten"
   image1="Haus_am_Turm_Essen.jpg"
   caption1="Haus am Turm, Essen"
   image2="Haus_am_Turm_Essen2.jpg"
   caption2="Tagungsraum im Haus am Turm"
   image3="Imshausen.jpg"
   caption3="Imshausen"
   image4="haus_salem.jpg"
   caption4="Haus Salem"
%}

{% assign articles = site.articles | where: "category", "jahrestagung" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a><br>
      Thema: <em>{{ article.thema }}</em>
    </div>
  {% endfor %}
</div>
