---
title: Kontakt
column: 2
row: 8
used-categories: kontakt
---
<p>
  Dies ist die offizielle Website der Eugen Rosenstock-Huessy Gesellschaft.
</p>
<p>
  Die
  <a href="{{ '/zz-all-pages' | relative_url }}">{{ "Seitenübersicht" }}</a>
  enthält eine Liste aller Seiten.
  Also a <a href="{{ '/zz-english-texts' | relative_url }}">{{ "list of English texts" }}</a>
  is available.
</p>
<p>
  Die Texte sind für den persönlichen Gebrauch bestimmt. Alle weitergehende Nutzung
  (insbesondere kommerzieller Art) bedürfen der schriftlichen Zustimmung der
  Eugen Rosenstock-Hussy Gesellschaft.
</p><p>
  Zu den Rechten der Texte von Eugen Rosenstock-Huessy teilt der
  <a href="http://www.erhfund.org">Eugen Rosenstock-Huessy Fund</a> mit:
<ul>
<li>"Acting for the Rosenstock-Huessys’ legal heirs, the Eugen Rosenstock-Huessy Literary Heirs
  have decided to waive copyright in all letters, documents, and work,
  both published and unpublished, by Eugen and Margrit Rosenstock-Huessy.
  Authors and scholars are free to cite, quote, translate, and publish any and all letters,
  documents, and work by either Eugen or Margrit Rosenstock-Huessy.
  The Literary Heirs and the Huessy family request only that this freedom be exercised
  with fairness and decency."</li>
<li>"The work of others, where it is included in works in which copyright has been waived,
  is unaffected by the Literary Heirs’ decision; permission to cite, quote, translate,
  and publish that work must still be sought from the current holders of copyright."</li>
</ul>
</p>
<p>
  Für Inhalte von durch Links erreichbaren externen Webseiten wird keine Gewähr übernommen.
</p>
<p>
  <a href="mailto:info@rosenstock-huessy.com">Email an die ERHG</a>
</p>
<p>
  Verantwortlich für den Internetauftritt<br>
  Jürgen Müller
</p>
