---
title: Lebensbilder
column: 1
row: 1
used-categories: lebensbild
---
{% include carousel.html
   title="Freunde und Schüler"
   image1="Franz_Rosenzweig.jpg"
   caption1="Franz Rosenzweig"
   image2="Rudolf_Ehrenberg2.jpg"
   caption2="Rudolf Ehrenberg"
   image3="Page_Smith.jpg"
   caption3="Page Smith"
   image4="Harold_Berman.jpg"
   caption4="Harold Berman"
%}

{% assign articles = site.articles | where: "category", "lebensbild" | sort: "order" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
