---
title: Mitglieder berichten
column: 2
row: 4
used-categories: bericht
---
{% assign articles = site.articles | where: "category", "bericht" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
