---
title: Rezeption
column: 1
row: 4
used-categories: rezeption, aussage
---
<img src="{{ 'assets/images/ERH-lecturing.jpg' | relative_url }}" class="img-right img-xlarge" alt="Eugen Rosenstock-Huessy">

{% assign articles = site.articles | where: "category", "rezeption" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>

<h3>Aussagen über Rosenstock-Huessy</h3>

{% assign articles = site.articles | where: "category", "aussage" | sort: "name" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
