---
title: Mitteilungen
column: 2
row: 2
used-categories: rundbrief
---
{% include rundbriefe.html %}
{% assign articles = site.articles | where: "category", "rundbrief" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
<a href="#top">zum Seitenbeginn</a>
