---
title: Beginnzitate der Mitteilungen
category: online-text2
order-to: 8
---
{% include rundbriefe.html %}
{% assign articles = site.articles | where: "category", "rundbrief" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      {{ article.zitat | markdownify }}
    </div>
  {% endfor %}
</div>
<a href="#top">zum Seitenbeginn</a>
