---
title: Rundbriefe mit Inhaltsverzeichnis
---
{% include rundbriefe.html %}
{% capture newline %}
{% endcapture %}
{% assign articles = site.articles | where: "category", "rundbrief" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      {% assign subjects = "" %}
      {% assign items = article.summary | split: newline %}
      {% for item in items %}
        {% assign subject = item | split: " - " | first %}
        {% assign subjects = subjects | append: subject | append: newline %}
      {% endfor %}
      {{ subjects | markdownify }}
    </div>
  {% endfor %}
</div>
