---
title: Veröffentlichungen
column: 2
row: 3
used-categories: veroeffentlichung, veroeff-elem
---
{% assign articles = site.articles | where: "category", "veroeffentlichung" | sort: "created" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>

<br>
<h3> Einzelbeiträge: </h3>

{% assign articles = site.articles | where: "category", "veroeff-elem" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
