---
title: "Projekt: Weitersager Mensch"
menu: Weitersager Mensch
column: 2
row: 5
used-categories: weitersager
---
<img src="{{ 'assets/images/weitersager2.jpg' | relative_url }}" class="img-right img-xlarge" alt="Uncentered World">

{% assign articles = site.articles | where: "category", "weitersager" | sort: "order" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
